<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns: th="http://www.thymeleaf.org" 
lang="en">
<head th:replace="navbar:: html-heading">
<body>
	<div th:replace="navbar :: navigation-bar"></div>
	<div class="bg-emerald-600/40 mx-auto max-w-7xl space-y-20 py-20">
		<div class="w-full px-4 lg:px-0 lg:w-[80%] mx-auto space-y-12">
			<span class="text-3xl tracking-wide text-white font-semibold uppercase"> Menu </span>
			<div class="grid grid-cols-2 lg:grid-cols-4 gap-1 lg:gap-4">
				<div
					class="group h-40 lg:h-60 w-full px-5 text-center bg-white rounded-md  cursor-pointer grid place-items-center hover:bg-green-400/50 bg-clip backdrop-blur-xl">

					<span class="text-emerald-700 font-semibold tracking-wide text-xl group-hover:text-white"> Menu 1 </span>
				</div>
				<div
					class="group h-40 lg:h-60 w-full px-5 text-center bg-white rounded-md  cursor-pointer grid place-items-center hover:bg-green-400/50 bg-clip backdrop-blur-xl">

					<span class="text-emerald-700 font-semibold tracking-wide text-xl group-hover:text-white"> Menu 2  </span>
				</div>
				<div
					class="group h-40 lg:h-60 w-full px-5 text-center bg-white rounded-md  cursor-pointer grid place-items-center hover:bg-green-400/50 bg-clip backdrop-blur-xl">

					<span class="text-emerald-700 font-semibold tracking-wide text-xl group-hover:text-white">Menu 3  </span>
				</div>
				<div
					class="group h-40 lg:h-60 w-full px-5 text-center bg-white rounded-md  cursor-pointer grid place-items-center hover:bg-green-400/50 bg-clip backdrop-blur-xl">

					<span class="text-emerald-700 font-semibold tracking-wide text-xl group-hover:text-white">Menu 4 </span>
				</div>
				<div
					class="group h-40 lg:h-60 w-full px-5 text-center bg-white rounded-md  cursor-pointer grid place-items-center hover:bg-green-400/50 bg-clip backdrop-blur-xl">

					<span class="text-emerald-700 font-semibold tracking-wide text-xl group-hover:text-white"> Menu 5 </span>
				</div>
				<div
					class="group h-40 lg:h-60 w-full px-5 text-center bg-white rounded-md  cursor-pointer grid place-items-center hover:bg-green-400/50 bg-clip backdrop-blur-xl">

					<span class="text-emerald-700 font-semibold tracking-wide text-xl group-hover:text-white"> Menu 6  </span>
				</div>
				<div
					class="group h-40 lg:h-60 w-full px-5 text-center bg-white rounded-md  cursor-pointer grid place-items-center hover:bg-green-400/50 bg-clip backdrop-blur-xl">

					<span class="text-emerald-700 font-semibold tracking-wide text-xl group-hover:text-white">Menu 7  </span>
				</div>
				<div
					class="group h-40 lg:h-60 w-full px-5 text-center bg-white rounded-md  cursor-pointer grid place-items-center hover:bg-green-400/50 bg-clip backdrop-blur-xl">

					<span class="text-emerald-700 font-semibold tracking-wide text-xl group-hover:text-white">Menu 8 </span>
				</div>

			</div>
		</div>
	</div>
	<div th:replace="footer :: footer"></div>
</body>
</html>