<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns: th="http://www.thymeleaf.org" lang="en">

<head th:replace="navbar:: html-heading">

<body>
    <div th:replace="navbar :: navigation-bar"></div>

    <section>
        <main class="bg-gray-100 min-h-screen dark:bg-gray-800 w-full py-12">
            <div class="flex justify-center ">
                <div class="block bg-white rounded-lg shadow dark:bg-gray-700 lg:w-[70%]">
                    <div class="py-3 px-6 border-b border-gray-300 flex justify-between space-x-12 lg:space-x-0">
                        <span class="mb-2 text-3xl font-bold tracking-tight text-green-700 dark:text-white">
                            My Appointments
                        </span>

                        <a href="set-appointment" class="my-auto">
                            <button
                                class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                <span class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                        class="w-5 h-5">
                                        <path
                                            d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                                    </svg>
                                    Add appointment
                                </span>
                            </button>
                        </a>

                    </div>

                    <div class="p-6 space-y-4 overflow-y-auto relative shadow-md max-h-[450px]">
                        <!-- No appointments -->
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-200">
                            <span th:if="${appointments.isEmpty()}"> No appointments as of now.</span>
                        </p>

                        <!-- With appointments -->
                        <div th:each="appointment:${appointments}">
                            <div
                                class="block p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                                <span class="mb-2 text-xl font-bold tracking-tight text-green-700 dark:text-gray-100">
                                    Appointment ID: [[${appointment.id}]]
                                </span>

                                <div class="text-gray-900 dark:text-gray-200 font-semibold">Status:
                                    <span class="font-thin text-inherit">Queued</span>
                                </div>

                                <!-- Date -->
                                <div
                                    class=" text-gray-900 dark:text-gray-200 font-semibold flex space-x-2 items-center text-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
                                    </svg> &nbsp;
                                    Date:
                                    <span class="font-thin text-inherit" th:text="${appointment.date}"></span>
                                </div>

                                <!-- Time -->
                                <div
                                    class=" text-gray-900 dark:text-gray-200 font-semibold flex space-x-2 items-center text-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg> &nbsp;
                                    Time:
                                    <span class="font-thin text-inherit" th:text="${appointment.timeSlot}"></span>
                                </div>

                                <!-- Reason -->
                                <div
                                    class=" text-gray-900 dark:text-gray-200 font-semibold flex space-x-2 items-center text-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                                    </svg> &nbsp;
                                    Reason:
                                    <span class="font-thin text-inherit" th:text="${appointment.remarks}"></span>
                                </div>
                            </div>
                        </div>




                    </div>
                    <div class="py-3 px-6 border-t border-gray-300 text-gray-600">

                    </div>
                </div>
            </div>
        </main>
    </section>


    <div th:replace="footer :: footer"></div>
</body>

</html>