<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns: th="http://www.thymeleaf.org" lang="en">

<head th:replace="navbar:: html-heading">

<body>
    <div th:replace="navbar :: navigation-bar"></div>

    <section>

        <main class="min-h-screen bg-gray-100 dark:bg-gray-800">
            <div class="w-full p-4 md:h-full flex justify-center">
                <!-- Main -->
                <div class="relative my-auto w-full h-full md:h-auto max-w-5xl">
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <div class="p-6 space-x-2 border-b border-gray-200 rounded-b dark:border-gray-600">
                            <span class="leading-loose text-3xl uppercase text-green-700 dark:text-white font-semibold">
                                Confirm appointment details
                            </span>
                        </div>
                        <!-- body -->
                        <div class="p-6">
                            <p class="text-xl leading-relaxed text-gray-500 dark:text-gray-200">
                                Date: ~date <br>
                                Time: ~time <br>
                                Reason: ~reason
                            </p>
                        </div>

                        <div
                            class="flex justify-center items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">

                            <a onclick="history.go(-1)"
                                class="text-gray-500 cursor-pointer bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-green-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                                <span class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                        class="w-5 h-5 mx-2">
                                        <path fill-rule="evenodd"
                                            d="M7.793 2.232a.75.75 0 01-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 010 10.75H10.75a.75.75 0 010-1.5h2.875a3.875 3.875 0 000-7.75H3.622l4.146 3.957a.75.75 0 01-1.036 1.085l-5.5-5.25a.75.75 0 010-1.085l5.5-5.25a.75.75 0 011.06.025z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    Back
                                </span>
                            </a>

                            <a href="/user/appointment"
                                class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                <span class="flex items-center">
                                    Create appointment
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                        class="w-5 h-5 mx-1">
                                        <path fill-rule="evenodd"
                                            d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z"
                                            clip-rule="evenodd" />
                                        <path fill-rule="evenodd"
                                            d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </section>


    <div th:replace="footer :: footer"></div>
</body>

</html>