<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns: th="http://www.thymeleaf.org" lang="en">

<head th:replace="navbar:: html-heading">

<body>

	<main class="bg-gray-800" th:fragment="mainHome">

		<div class="mx-auto max-w-7xl min-h-screen">
			<!-- Replace with your content -->
			<section class="w-full h-screen bg-[url('/images/bg.png')] relative">
				<div class="absolute inset-0 w-full h-full z-20 bg-gradient-to-br from-emerald-600/50 to-emerald-100/40
					grid place-items-center">
					<section class="w-[80%] h-[80%] grid place-items-center">
						<div class="grid">
							<div>
								<span class="text-white font-semibold text-4xl tracking-wide leading-4">
									Need a medical consultation?
								</span>
							</div>

							<div>
								<a href="appointment"
									class="text-green-700 font-bold text-2xl py-2.5 text-center mr-2 mb-2 hover:underline">Book
									an appointment
								</a>
							</div>
						</div>
					</section>
				</div>
			</section>

			<section class="w-full space-y-20 px-4 lg:px-0 py-20">
				<div class="text-center space-y-4">
					<span class="font-bold text-2xl tracking-wider leading-5 text-emerald-500">Popular Searches</span>

					<p class="text-gray-600 text-lg">
						Don't know where to start? Try to decide first what kind of doctor you need for your appointment
						or consultation. <br>

						Here are some popular searches you might want to check.
					</p>
				</div>

				<div class="grid lg:grid-cols-4 gap-8 w-[80%] mx-auto lg:gap-0">
					<div class="w-full h-auto grid place-items-center gap-2">
						<img class="h-16 lg:h-32 w-auto lg:block" th:src="@{/images/lclogo.png}" alt="Medical Doctor">
						<span class="text-2xl text-emerald-500 tracking-wide font-semibold leading-8">
							Medical Doctor
						</span>
					</div>

					<div class="w-full h-auto grid place-items-center gap-2">
						<img class="h-16 lg:h-32 w-auto lg:block" th:src="@{/images/lclogo.png}" alt="Dentist">
						<span class="text-2xl text-emerald-500 tracking-wide font-semibold leading-8">
							Dentist
						</span>
					</div>

					<div class="w-full h-auto grid place-items-center gap-2">
						<img class="h-16 lg:h-32 w-auto lg:block" th:src="@{/images/lclogo.png}" alt="Pediatrician">
						<span class="text-2xl text-emerald-500 tracking-wide font-semibold leading-8">
							Pediatrician
						</span>
					</div>

					<div class="w-full h-auto grid place-items-center gap-2">
						<img class="h-16 lg:h-32 w-auto lg:block" th:src="@{/images/lclogo.png}" alt="Dermatologist">
						<span class="text-2xl text-emerald-500 tracking-wide font-semibold leading-8">
							Dermatologist
						</span>
					</div>
				</div>
			</section>


			<!-- Services  -->
			<section class="w-full py-20">
				<div class="w-full px-4 lg:px-0 lg:w-[80%] mx-auto space-y-4">
					<span class="text-4xl tracking-wide font-semibold uppercase text-emerald-500"> Services </span>

					<div class="flex justify-between">
						<div>
							<span class="font-semibold text-xl tracking-wide">Dermatology</span>
							<ul>
								<li> Skin Lightening</li>
								<li>Acne Treatment</li>
								<li>Fat Reduction</li>
								<li>Facial</li>
							</ul>
						</div>

						<div>
							<span class="font-semibold text-xl tracking-wide">Medical</span>
							<ul>
								<li>Nutritional Support </li>
								<li>Pharmaceutical Care</li>
								<li>Laboratory and Occupational Care</li>
								<li>Nutritional Support</li>
							</ul>
						</div>


						<div>
							<span class="font-semibold text-xl tracking-wide">Dental</span>
							<ul>
								<li>Teeth Cleanings</li>
								<li> Teeth Whitening</li>
								<li> Extractions</li>
								<li> Dentures</li>
							</ul>
						</div>
					</div>


			</section>

			<!-- /End replace -->
		</div>

	</main>


</body>

</html>