<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns: th="http://www.thymeleaf.org" lang="en">

<head th:replace="navbar:: html-heading">

    <body>

        <div th:replace="navbar :: navigation-bar"></div>
        <section class="min-h-screen px-4 py-6 bg-gray-200 dark:bg-gray-900">



            <header class=" px-4 py-2 rounded-sm space-x-4">
                <a class="nav-link font-bold text-gray-800 hover:text-gray-700 dark:text-gray-200 dark:hover:text-gray-400 " href="home">Home</a>
                <a class="nav-link text-gray-800 hover:text-gray-700 dark:text-gray-200 dark:hover:text-gray-400" href="history">History</a>

            </header>
            <div class="container mx-auto py-6 px-4" x-data="datatables()" x-cloak>
                <span class="cursor-default mb-2 text-3xl font-bold tracking-tight text-green-700 dark:text-white">
				Today's Appointment
			</span>
            </div>
            <main>
                <!-- <h3 align="center" class="text-green-500"><b>Today's Appointments</b></h3> -->

                <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">

                    <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative">
                        <tr class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs">
                            <th style="text-align: center">Appointment No.</th>
                            <th style="text-align: center">Patient ID</th>
                            <th style="text-align: center">Patient Name</th>
                            <th style="text-align: center">Time</th>
                            <th style="text-align: center">Action</th>

                        </tr>
                        <tbody>
                            <tr th:each="appointment: ${listOfAppointments}">
                                <td class="border-dashed border-t border-gray-200 text-center">
                                    <span class="text-gray-700 px-6 py-3 " th:text="${appointment.id}"></span>
                                </td>
                                <td class="border-dashed border-t border-gray-200 id text-center">
                                    <span class="text-gray-700 px-6 py-3 " th:text="${appointment.patientID.id}"></span>
                                </td>
                                <td class="border-dashed border-t border-gray-200 id text-center">
                                    <span class="text-gray-700 px-6 py-3 " th:text="${appointment.patientID.fullName}"></span>
                                </td>
                                <td class="border-dashed border-t border-gray-200 id text-center">
                                    <span class="text-gray-700 px-6 py-3 " th:text="${appointment.timeSlot}"></span>
                                </td>
                                <td class="border-dashed border-t border-gray-200 text-center">

                                    <a th:href="@{'appointment' + ${appointment.id}}">
                                        <button class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
											Diagnose
										</button>
                                    </a>
                                </td>
                                <!-- <td style="text-align: center" th:text="${appointment.id}" />
								<td style="text-align: center" th:text="${appointment.patientID.id}" />
								<td style="text-align: center" th:text="${appointment.patientID.fullName}" />
								<td style="text-align: center" th:text="${appointment.timeSlot}" />
								<td style="text-align: center"><a class="nav-link bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-0 px-4 border border-blue-500 hover:border-transparent rounded"
									 th:href="@{'appointment' + ${appointment.id}}">
									Diagnose
								  </a></td> -->
                            </tr>
                        </tbody>

                    </table>

                    <!-- /End replace -->





                    <!-- /End replace -->



                </div>
            </main>
            </div>

        </section>
        <div th:replace="footer :: footer"></div>
    </body>

</html>